* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact-footer {

  display: flex;
border-radius: 25px;
border: solid 3px black;
  height: 55px;
  background-color: #252323;
  color: white;
  padding: 5px;
  margin-top: 10px;
}
.contact-footer .iconos {
  display: flex;
}

.icon {
  display: flex;
  margin-left: 4px;
  font-size: 20px;
  
}

.contact-footer .accesos {
  height: 40px;
  font-size: 14px;
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
}

.accesos {
  display: flex;
  width: 100%;
  height: 60px;
 padding-right: 65px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-footer .accesos .icon {
  margin-bottom: 5px;
  font-size: 18px;
}

@media (min-width: 580px) {
  .contact-footer .accesos {
    display: flex;
  }
}
